<div class="config-panel">
  <h3 class="titlesSection">Selecciona un color:</h3>
  <div class="color-options">
    <label *ngFor="let color of listColors" class="color-option">
      <input 
        type="radio" 
        name="color" 
        [value]="color" 
        [(ngModel)]="selectedColor" 
        (ngModelChange)="onColorChange($event)"
      />
      <span [style.backgroundColor]="color" class="color-circle"></span>
    </label>
  </div>

  <h3 class="titlesSection">Selecciona número de columnas:</h3>
  <div class="column-options">
    <label *ngFor="let col of listColumns" class="column-option">
      <input 
        type="radio" 
        name="columns" 
        [value]="col" 
        [(ngModel)]="selectedColumns" 
        (ngModelChange)="onColumnsChange($event)"
      />
      {{ col }} columna{{ col > 1 ? 's' : '' }}
    </label>
  </div>
</div>
