<h2>Cabecera de la página</h2>
<ng-template #formularioTemplate let-tab>
  <div class="contenedor">
    <div class="'flex-1'">
      <div class="example-container-icons" id="available-icons">
        <h5 class="titlesSection">Inputs</h5>
        <div
          cdkDropList
          #availableList="cdkDropList"
          [cdkDropListData]="available"
          [cdkDropListConnectedTo]="doneListRefs"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="example-box"
            *ngFor="let item of available; trackBy: trackItem"
            cdkDrag
          >
            <div class="icon-text">asdasd</div>
          </div>
        </div>
      </div>
    </div>

    <div class="'flex-2'">
      <div class="generico-inner-container">
        <!-- Contenedor vertical para listas -->
        <div class="lists-wrapper">
          <!-- Botón para agregar grupos -->
          <div class="contenedor-flex">
            <div class="container row">
              <div class="col-6">
                <input
                  type="text"
                  class="nombre nombre-titulo"
                  [(ngModel)]="itemRecibido.name"
                  placeholder="Nombre de la página"
                />
                <input
                  type="text"
                  class="description description-titulo col-6"
                  [(ngModel)]="itemRecibido.description"
                  placeholder="Descripción de la página"
                />
              </div>
            </div>

            <div class="lado-derecho">Boton</div>
            <button (click)="addGroup()">Haz clic</button>
          </div>

          <!-- Múltiples listas destino -->
          <div
            class="example-container"
            *ngFor="let list of doneLists; let i = index"
          >
            <div
              class="titleSetionZone container"
              [ngClass]="getColorClass(doneLists[i].field.color || '#0D5580')"
            >
              <div class="col-8">
                <input
                  type="text"
                  class="nombre"
                  [(ngModel)]="doneLists[i].field.name"
                  placeholder="Título de la cabecera"
                />
                <input
                  type="text"
                  class="description"
                  [(ngModel)]="doneLists[i].field.descriptionGroup"
                  placeholder="Descripción de la cabecera"
                />
              </div>
              <div class="col-4-fake align-right">
                <button>Boton medio 1</button>
                <button>Boton medio 1</button>
                <button>Boton medio 1</button>
              </div>
            </div>
            <div class="align-right">boton</div>
            <div class="group-columns">
              <div
                *ngFor="let listElem of list.items; let j = index"
                class="example-column"
              >
                <div
                  cdkDropList
                  [id]="'doneList_' + i + '_' + j"
                  #doneList="cdkDropList"
                  [cdkDropListData]="listElem"
                  [cdkDropListConnectedTo]="[availableList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)"
                >
                  asdasdasd
                </div>
                <div
                  *ngFor="
                    let item of listElem;
                    let k = index;
                    trackBy: trackItem
                  "
                  cdkDrag
                  (click)="openEditComponent(item)"
                >
                  asdasdasdads
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="toolbar-sidebar">
        <h4 class="titlesSection">Herramientas</h4>
        <div>
          <menu-create-field-form> </menu-create-field-form>
        </div>
        <div>
          <drag-drop-edit-group
            [selectedGroup]="groupSelected"
            (colorChanged)="onColorUpdate($event)"
            (columnsChanged)="onColumnsUpdate($event)"
          >
          </drag-drop-edit-group>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<div class="tabs-container">
  <ul class="tab-header">
    <li
      *ngFor="let tab of tabs; let i = index"
      [class.active]="i === selectedTab"
      (click)="selectTab(i)"
    >
      {{ getNombreCorto(i) }}
    </li>
    <li class="add-tab botones-centrados">
      <div class="contenedor-botones">
        <button class="boton-guardar-fijo" (click)="guardarFormulario()">
          Guardar
        </button>
      </div>
    </li>
  </ul>

  <div class="tab-content">
    <ng-container>
      <!-- Inserta aquí el contenido completo del formulario -->
      <ng-container
        *ngTemplateOutlet="
          formularioTemplate;
          context: { $implicit: tabs[selectedTab] }
        "
      ></ng-container>
    </ng-container>
  </div>
</div>
