<h2>Cabecera de la página</h2>
<ng-template #formularioTemplate let-tab>
  <div class="contenedor">
    <contenedor-generico-comp>
      <div class="'flex-1'">
        <div class="example-container-icons" id="available-icons">
          <h5 class="titlesSection">Inputs</h5>
          <div
            cdkDropList
            #availableList="cdkDropList"
            [cdkDropListData]="available"
            [cdkDropListConnectedTo]="doneListRefs"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
          >
            <div
              class="example-box"
              *ngFor="let item of available; trackBy: trackItem"
              cdkDrag
            >
              <div class="icon-text">
                <lib-button-generic
                  [variant]="'mat-icon-custom'"
                  [color]="'primary'"
                  [icon]="getIcon(item.type ?? '')"
                  [customClass]="'mat-icon-drag'"
                  class="mat-icon-gray"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </contenedor-generico-comp>
    <contenedor-generico-comp [customClass]="'flex-2'">
      <div class="generico-inner-container">
        <!-- Contenedor vertical para listas -->
        <div class="lists-wrapper">
          
          <div class="contenedor-flex">
            <div class="container row">
              <div class="col-6">
                <input
                  type="text"
                  class="nombre nombre-titulo"
                  [(ngModel)]="itemRecibido.name"
                  placeholder="Nombre de la página"
                />
                <input
                  type="text"
                  class="description description-titulo col-6"
                  [(ngModel)]="itemRecibido.description"
                  placeholder="Descripción de la página"
                />
              </div>
            </div>

            <div class="lado-derecho">
              <lib-button-generic
                class="boton_editar"
                [variant]="'mat-icon-custom'"
                [color]="'primary'"
                (btnClick)="deleteForm()"
                [icon]="'delete'"
                [tooltipText]="'Eliminar Página'"
                [customClass]="'mat-icon-edit'"
                class="mat-icon-blue"
              ></lib-button-generic>
              <lib-button-generic
                [variant]="'mat-icon-custom'"
                [color]="'primary'"
                (btnClick)="addGroup()"
                [icon]="'add_card'"
                [tooltipText]="'Agregar Sección'"
                [customClass]="'mat-icon-edit'"
              ></lib-button-generic>
            </div>
          </div>

          <!-- Múltiples listas destino -->
          <div
            class="example-container"
            *ngFor="let list of doneLists; let i = index"
          >
            <div
              class="titleSetionZone container"
              *ngIf="doneLists[i].field.isVisible"
              [ngClass]="getColorClass(doneLists[i].field.color || '#0D5580')"
            >
              <div class="col-8">
                <input
                  type="text"
                  class="nombre"
                  [(ngModel)]="doneLists[i].field.name"
                  placeholder="Título de la cabecera"
                />
                <input
                  type="text"
                  class="description"
                  [(ngModel)]="doneLists[i].field.descriptionGroup"
                  placeholder="Descripción de la cabecera"
                />
              </div>
              <div class="col-4-fake align-right">
                <lib-button-generic
                  [variant]="'mat-icon-custom'"
                  [color]="'primary'"
                  (btnClick)="deleteGrouping(list.field, i)"
                  [icon]="'delete'"
                  [tooltipText]="'Eliminar sección'"
                  [customClass]="'mat-icon-edit-subtitle'"
                  class="mat-icon-white"
                ></lib-button-generic>
                <lib-button-generic
                  [variant]="'mat-icon-custom'"
                  [color]="'primary'"
                  (btnClick)="openEditGroupingBool(doneLists[i])"
                  [icon]="'edit'"
                  [tooltipText]="'Editar Sección'"
                  [customClass]="'mat-icon-edit-subtitle'"
                ></lib-button-generic>
                <lib-button-generic
                  [variant]="'mat-icon-custom'"
                  [color]="'primary'"
                  (btnClick)="verGrupo(i)"
                  [icon]="
                    visibilidadSecciones[i] ? 'visibility' : 'visibility_off'
                  "
                  [tooltipText]="
                    visibilidadSecciones[i]
                      ? 'Ocultar Sección'
                      : 'Mostrar Sección'
                  "
                  [customClass]="'mat-icon-edit-subtitle'"
                ></lib-button-generic>
              </div>
            </div>
            <div class="align-right" *ngIf="!doneLists[i].field.isVisible">
              <lib-button-generic
                [variant]="'mat-icon-custom'"
                [color]="'primary'"
                (btnClick)="deleteGrouping(list.field, i)"
                [icon]="'delete'"
                [tooltipText]="'Eliminar sección'"
                [customClass]="'mat-icon-edit-subtitle'"
              ></lib-button-generic>
              <lib-button-generic
                [variant]="'mat-icon-custom'"
                [color]="'primary'"
                (btnClick)="openEditGroupingBool(doneLists[i])"
                [icon]="'edit'"
                [tooltipText]="'Editar Sección'"
                [customClass]="'mat-icon-edit-subtitle'"
              ></lib-button-generic>
              <lib-button-generic
                [variant]="'mat-icon-custom'"
                [color]="'primary'"
                (btnClick)="verGrupo(i)"
                [icon]="
                  visibilidadSecciones[i] ? 'visibility' : 'visibility_off'
                "
                [tooltipText]="
                  visibilidadSecciones[i]
                    ? 'Ocultar Sección'
                    : 'Mostrar Sección'
                "
                [customClass]="'mat-icon-edit-subtitle'"
              ></lib-button-generic>
            </div>
            <div class="group-columns">
              <div
                *ngFor="let listElem of list.items; let j = index"
                class="example-column"
              >
                <div
                  cdkDropList
                  [id]="'doneList_' + i + '_' + j"
                  #doneList="cdkDropList"
                  [cdkDropListData]="listElem"
                  [cdkDropListConnectedTo]="[availableList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)"
                >
                  <app-rectangulo-gris
                    *ngFor="
                      let item of listElem;
                      let k = index;
                      trackBy: trackItem
                    "
                    cdkDrag
                    (click)="openEditComponent(item)"
                  ></app-rectangulo-gris>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </contenedor-generico-comp>
  </div>
</ng-template>
<div class="tabs-container">
  <ul class="tab-header">
    <li
      *ngFor="let tab of tabs; let i = index"
      [class.active]="i === selectedTab"
      (click)="selectTab(i)"
    >
      {{ getNombreCorto(i) }}
    </li>
    <li class="add-tab botones-centrados">
      <div class="contenedor-botones">
        <button class="boton-guardar-fijo" (click)="guardarFormulario()">
          Guardar
        </button>
      </div>
    </li>
  </ul>

  <div class="tab-content">
    <ng-container>
      <ng-container
        *ngTemplateOutlet="
          formularioTemplate;
          context: { $implicit: tabs[selectedTab] }
        "
      ></ng-container>
    </ng-container>
  </div>
</div>
