.generic-table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    border: 1px solid #dee2e6; 
    padding: 8px;
  }

  tr:hover {
    background-color: #f1f3f5; 
    cursor: pointer;
  }

  th {
    background-color: #2E3A59;
    color: #ffffff;
    text-align: left;
  }

  td {
    background-color: #ffffff; 
    color: #343A40;           
  }
}
