<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </a>
      <a *ngFor="let menu of menus" mat-list-item [routerLink]="menu.route">
        <mat-icon>{{ menu.icon }}</mat-icon>
        <span>{{ menu.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Mi Aplicación</span>
      <span class="spacer"></span>

      <ng-container *ngIf="!isLoggedIn; else loggedInButtons">
        <button mat-button (click)="onLogin()">Ingresar</button>
        <button mat-button (click)="onRegister()">Registrarse</button>
      </ng-container>

      <ng-template #loggedInButtons>
        <button mat-icon-button (click)="onOptions()" matTooltip="Opciones">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button (click)="onLogout()" matTooltip="Cerrar sesión">
          <mat-icon>logout</mat-icon>
        </button>
      </ng-template>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
